<div>
    {{#each books}}
    <div class="container-fluid">
        <div class="container row">
            <div class="col-md-4 col-lg-4">
                <img src={{imgSrc}} alt=${{title}} height='218' width='218'>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="row"><h5><span><strong>{{title}}</strong></span></h5></div>
                <div class="row"><h5><span>Author(s): {{author}}</span></h5></div>
                <div class="row"><h5><span>Price: {{price}}</span></h5></div>
            </div>
            
            <div class="col-md-2 col-lg-2">
                <button  id={{_id}} class="btn btn-primary">Review/Comment</button>
            </div>
        </div>
        <br><br>

    </div>
    {{/each}}
</div>